<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.Ajax_cartMapper">


<!--장바구니 수량 수정  -->
<update id ="modifyCart">
	update cart_tbl
	set amount =#{amount}
	where cartno = #{cartno}
</update>

<!-- 장바구니 수량 수정 후 정보 가져오기 -->
 <select id="getCartInfo" resultType="com.spring.domain.CartVO">
   select * from cart_tbl where cartno = #{cartno}
 </select>


</mapper>